.user-root
  h1
    font-size 3em
    margin auto
    color white
    font-weight lighter
    border-bottom  1px white solid
    text-align center
  p
    margin-top 20px
    color white
    font-size 2em
    font-weight lighter